.profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.avatar {
    border-radius: 100%;
    cursor: pointer;
}

.info {
    font-size: 40px;
}

.infoBlock {
    display: flex;
    flex-direction: column;
    gap: 7px;
}