.content {
    padding-top: 20px;
    background-color: var(--second-background-color);
    display: flex;
}

.ordersMini {
    padding: 20px;
    display: flex;
    flex-direction: column;
    max-width: 400px;
    width: 100%;
    gap: 20px;

    background-color: var(--background-color);
}

.ordersMax {
    padding-top: 20px;
    width: 100%;
    background-color: var(--fourth-background-color);

    display: flex;
    justify-content: center;
}

.ordersTitle {
    font-size: 32px;
}

.selectOrderTitlte {
    font-size: 40px;
}