.block {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.content {
    border-radius: 10px;
    padding: 20px;
    max-width: 500px;
    width: 100%;
    background-color: var(--second-background-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contentHeader {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.contentForm {
}
