.orderMax { 
    margin-top: 30px;
    margin-left: 40px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;

    border-radius: 10px;
    max-width: 1200px;

    display: flex;
    justify-content: center;
    width: 100%;

}

.drone {
    min-height: 75px;

    display: flex;
    padding: 20px;
    border-radius: 10px;
    font-size: 24px;
}

.droneButtons {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.orderInfo {
    background-color: var(--second-background-color);
    padding-right: 50px;
    display: flex;
    border-radius: 10px;
    gap: 20px;
    padding: 40px;
}

.name {
    font-size: 32px;
}


.customer {
    display: flex;
    justify-content: space-between;
}

.customerInfo {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.weight {
    padding: 10px;
    display: flex;
    align-items: center;
}

.productInfo {
    padding: 40px;
    background-color: var(--second-background-color);
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    border-radius: 10px;
}

.removeButton {
    background-color: var(--red);
    max-width: 522px;
    max-height: 90px;
}

.productBlock {
    border-radius: 10px;
    padding: 15px;
    background-color: var(--fourth-background-color);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product {
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: space-around;
    min-height: 75px;
}

.banana {
    width: 150px;
    height: 150px;
}
.productDescr {
    display: flex;
    flex-direction: column;
}



.weightIcon {
    width: 30px;
    height: 30px;
}

.weight {
    display: flex;  
    gap: 10px;
}

.button {
    min-width: 300px;
}

.productName {
    font-size: 24px;
}


