.order {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 100%;
    min-height: 62px;
    font-size: 28px;
}

.order_active {
    border-radius: 10px;
    background-color: var(--second-background-color);
}